.contato {
    height: 100%;
    background-color: rgb(226, 226, 226);

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 10px;

        h1 {
            margin: 2% 0;
        }

        hr {
            margin: 2% 0;
        }

        div {
            margin: 1% 0;

            span>input {
                width: 30%;
            }
        }

        .mensagem {
            display: flex;
            flex-direction: column;

            span>textarea {
                width: 50%;
                height: 10vh;
            }
        }

    }

}