.home {
    height: 100%;
    // background-image: url(/img/fundo.png);
    

    .container {
        width: 80%;
        min-height: 86.4vh;
        margin: 0 auto;
        padding: 10px;

        .imgCapa {
            text-align: center;
            margin-top: 5vh;
        }

        .conteudo {
            margin: 25px 0;

            h3 {
                margin: 10px 0;
            }
        }
    }
}