
.usuario {
    height: 100%;
    

    .container {
        width: 80%;
        min-height: 86.4vh;
        margin: 0 auto;
        padding: 10px;
        
        h1 {
            margin: 2% 0;
        }

        hr {
            margin-top: 2%;
        }
    
    }
}