{% extends 'base.html' %}

{% block head %}

<title>Universidade Unes - Contato</title>

{% endblock %}
{% block body %}

    <section class="contato">
        <div class="container">
            <h1>Entre em contato</h1>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse doloremque eum vitae tempora, dolores
                pariatur alias. </p>

            <hr>

            <div class="formulario">
                <form action="" method="POST">
                    <div>
                        <p>Seu e-mail:</p>
                        <span><input type="e-mail" name="femail"></span>
                    </div>
    
                    <div>
                        <p>Assunto:</p>
                        <span><input type="text" name="fassunto"></span>
                    </div>
    
                    <div class="mensagem">
                        <p>Descrição:</p>
                        <span><textarea type="text" name="fdescricao"></textarea></span>
                        <span><button type="submit">Enviar</button></span>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
