{% extends 'base.html' %} {% block head %}

<title>Universidade Unes - Usuários</title>

{% endblock %} {% block body %}

<section class="usuario">
  <div class="container">
    <h1>Users</h1>

    <hr />
    
    {%for usuario in usuarios%}
    <div class="d-flex flex-column w-100 p-2">
      <div class="d-flex col-12">
        <p class="p-0 m-0 col-4">Email: {{usuario.email | capitalize}}</p>
        <p class="p-0 m-0 col-5">Assunto: {{usuario.assunto}}</p>
      </div>
      <div class="col-12">
        <p class="p-0 m-0 col-12">Descrição: {{usuario.descricao}}</p>
      </div>
    </div>
    <hr class="p-0 m-0">
    {%endfor%}

  </div>

  {% endblock %}
</section>
