{% extends 'base.html' %}

{% block head %}

<title>Universidade Unes</title>

{% endblock %}
{% block body %}

    <section class="home">
        <div class="container">
            <div class="imgCapa">
                <img src="../static/img/capa.png" alt="foto-capa">
            </div>

            <div class="conteudo">
                <h3>Sobre a Universidade</h3>

                <p>
                    Lorem <b>ipsum dolor</b> sit, amet consectetur adipisicing elit. Aliquam architecto deserunt quis
                    alias vero facilis nihil sunt laboriosam vitae. Hic dolor ratione asperiores, iure laudantium
                    similique sequi labore odit voluptatibus? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto expedita sint eaque aliquam nostrum. Ducimus voluptates culpa deserunt quos, modi impedit
                    sapiente debitis? Quas harum delectus, obcaecati doloribus ad accusamus. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Et soluta rerum recusandae veniam nihil eligendi. Magni quas a
                    impedit, tempora ad quibusdam cum dolorum officiis aliquid ullam necessitatibus voluptates optio!
                </p>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aliquid sint <b>libero rerum labore
                        architecto</b>>b autem quidem, repudiandae, aperiam reiciendis id nisi nobis itaque atque.
                    Provident voluptates aperiam sed impedit! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Molestiae quis nihil autem explicabo eligendi dolore ad adipisci eum facilis assumenda, natus
                    suscipit quae inventore placeat quia veniam consequuntur dolor ratione. Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Omnis, rem dicta. Dolores nihil cupiditate eius sunt excepturi
                    expedita ipsam cum alias odio, atque est maiores nemo iusto quaerat.
                </p>
            </div>
        </div>
    </section>

{% endblock %}